nav li {
    font-size: 3vh;
    font-family: sans-serif;
    display: inline;
    float: left;
}
nav li:hover {
    color: rgb(62, 70, 139);
}
header img {
    height: 150px;
    width: 250px;
}
header {
    background-color: darkseagreen;
}

.wrap {
   /* background-image: url(../img/plain_color_orange.jpg); */
   
   overflow: hidden;
}
.schedule {
    background-color: blanchedalmond;
}
.schedule li {
    list-style: none;
    padding-bottom: 20px;
}
aside {
    background-color: bisque;
}
.main {
    padding-top: 50px;
    overflow: hidden;
}
footer {
    background-color: black;
    color: azure;
    text-align: center;
    height: 200px;
}
.icon {
    margin-top: 50px;
    font-size: 50px;
    margin-left: 20px;
}
#copy-right {
    margin-top: 20px;
}